<form class="form-group col-md-12 mt-4">
  <div class="form-row" >
    <div class="form-group col-md-6">
      <label for="inputEmail4">Prenom et nom du marié</label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="Mbodj Ousseynou">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Prenom et nom de la mariée</label>
      <input type="text" class="form-control" id="inputPassword4" placeholder="Khardiata Mbaye">
    </div>
  </div>

  <div class="form-row" >
    <div class="form-group col-md-6">
      <input type="file" class="custom-file-input" id="validatedCustomFile" required>
      <label class="custom-file-label" for="validatedCustomFile">Carte d'identite du marié</label>
      <div class="invalid-feedback">Example invalid custom file feedback</div>
    </div>

    <div class=" form-group  col-md-6">
      <input type="file" class="custom-file-input" id="validatedCustomFile" required>
      <label class="custom-file-label" for="validatedCustomFile">Carte d'identite de la mariée</label>
      <div class="invalid-feedback">Example invalid custom file feedback</div>
    </div>
  </div>
  <!-- <div class="form-group">
    <label for="inputAddress">Adresse</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div> -->
  <div class="form-group ">
    <label for="inputAddress2">Adresse</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, Villa">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">Ville</label>
      <input type="text" class="form-control" id="inputCity"  placeholder="Dakar">
    </div>
    <!-- <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control">
        <option selected>Choose... </option>
        <option>... </option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Code postal</label>
      <input type="text" class="form-control" id="inputZip">
    </div> -->
  </div>
  <div >
    <button type="submit" class="form-group col-md-2 btn" style="background-color: rosybrown;">Soumettre</button>
   
  </div>
 
</form>
