<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rosybrown;">
  <a class="navbar-brand" href="#">E-MAIRIE(logo)</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="justify-content: center;font-weight: bold;">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">COMMUNE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">LA VILLE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">PROJETS & INVESTISSEMENT</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
          E-SERVICE
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Acte de naissance</a>
          <a class="dropdown-item" href="#">Acte de mariage</a>
          <a class="dropdown-item" href="#">Acte de décès</a>
          <a class="dropdown-item" href="#">Autorisation de construction</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Autres</a>
        </div>
      </li>
    </ul>
    <!--
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  -->
  </div>
</nav>

<router-outlet></router-outlet>
